body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #FFF;
    background-color: #212121;
}

/* HEADER */

.navbar-brand {
    position: relative;
}

#logo {
    width: 50px;
}

#facil-title {
    color: white;
    position: absolute;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
    padding-left: 4px;
}

#main-navbar {
    background-color: #171717;
}

#main-container{
    color: #FFF;
    flex: 1;
}

.table {
    /* background-color: #ffffff; Cor de fundo da tabela */
    color: #FFF; /* Cor do texto */
    /* border: 1px solid #cccccc; */
}

#navbar {
    min-width: 30%;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color: #FFF;
}


/* HOME */
#main-container {
    color: #FFF;
    min-height: 80vh;
    padding: 40px;
}

.form-add-vaga .btn {
    margin-bottom: 10px;/* Animação ao passar o mouse */
}

.btn-custom {
    padding: 5px 8px; /* Ajusta o preenchimento do botão */
    font-size: 12px; /* Ajusta o tamanho da fonte */
}

.custom-modal .modal-content {
    color: #171717; /* Cor de fundo do rodapé */
}

.modal-header-custom {
    color: #0056b3; /* Cor azul */
}

.modal-body-custom {
    color: #555; /* Cor cinza */
}

.form-control {
    background-color: #333; /* Cor de fundo cinza */
    color: #FFF; /* Cor do texto branca */
}

.form-control::placeholder {
    color: #FFF; /* Cor do texto do placeholder branca */
}

.form-control:focus {
    background-color: #333; /* Mantém a cor de fundo cinza ao focar */
    color: #FFF; /* Mantém a cor do texto branca ao focar */
    border-color: #0056b3; /* Opcional: altera a cor da borda ao focar (pode ser removido) */
    outline: none; /* Remove o contorno padrão do campo */
}


/* FOOTER */
#footer {
    background-color: #171717;
    color: #FFF;
    text-align: center;
    padding: 20px;
}